diun/diun
searxng/searxng/data/
searxng/searxng/valkey
vaultwarden/vaultwarden/
suwayomi/suwayomi/
syncyomi/syncyomi/
syncthing/syncthing/
filebrowser/filebrowser/
filebrowserquantum/filebrowser/data/tmp
filebrowserquantum/filebrowser/data/database.db
pihole/pihole/
immich/immich/
homarr/homarr/
.env
